In [354]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/house-prices-advanced-regression-techniques/sample_submission.csv
/kaggle/input/house-prices-advanced-regression-techniques/data_description.txt
/kaggle/input/house-prices-advanced-regression-techniques/train.csv
/kaggle/input/house-prices-advanced-regression-techniques/test.csv

In [355]:
import pandas as pd
import datetime

Next, importing the CSV trained version file called houseprices_data.csv which contains pre-processed information about housing prices.

In [356]:
# Reading in the CSV file as a DataFrame
df = pd.read_csv(r'/kaggle/input/house-prices-advanced-regression-techniques/train.csv', low_memory=False)

In [357]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [358]:
# Printing the shape
df.shape

(1460, 81)

In [359]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000


**Lets check all Null Values**

In [360]:

df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [361]:
# we replace LotFrontage with mode
df['LotFrontage'].mode()
df['LotFrontage'].fillna(60,inplace=True)

In [362]:
df['LotFrontage'].isnull().sum()

0

In [363]:
df['Alley'].fillna(df['Alley'].mode,inplace=True)

In [364]:
df['Alley'].isnull().sum()

0

In [365]:
df['PoolQC'].isnull().sum()

1453

In [366]:
df['PoolQC'].fillna(df['PoolQC'].mean,inplace=True)

In [367]:
df['Fence'].isnull().sum()

1179

In [368]:
df['Fence'].fillna(df['Fence'].mean, inplace=True)

#  Now that all null values have been cleared based on attribute natures as we want our predictions to e as solid as possible thus using mean, median and mode are the best techniques for doing so
# Lets first drop all string columns as ML algorithms cant read string attributes¶

In [369]:
# lets check all data types
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [370]:
df.drop(['MSZoning'], axis=1, inplace=True)

In [371]:
df.drop(['Street'], axis=1, inplace=True)

In [372]:
df.drop(['Alley'], axis=1, inplace=True)

In [373]:
df.drop(['LotConfig'], axis=1, inplace=True)

In [374]:
df.drop(['LandSlope'], axis=1, inplace=True)

In [375]:
df.drop(['Neighborhood'], axis=1, inplace=True)

In [376]:
df.drop(['Condition1'], axis=1, inplace=True)

In [377]:
df.drop(['Condition2'], axis=1, inplace=True)

In [378]:
df.drop(['BldgType'], axis=1, inplace=True)

In [379]:
df.drop(['PoolQC'], axis=1, inplace=True)

In [380]:
df.drop(['Fence'], axis=1, inplace=True)

In [381]:
df.drop(['MiscFeature'], axis=1, inplace=True)

In [382]:
df.drop(['SaleType'], axis=1, inplace=True)

In [383]:
df.drop(['SaleCondition'], axis=1, inplace=True)

In [384]:
df.drop(['HouseStyle'], axis=1, inplace=True)

In [385]:
df.drop(['RoofStyle'], axis=1, inplace=True)

In [386]:
df.drop(['RoofMatl'], axis=1, inplace=True)

In [387]:
df.drop(['Exterior1st'], axis=1, inplace=True)

In [388]:
df.drop(['Exterior2nd'], axis=1, inplace=True)

In [389]:
df.drop(['MasVnrType'], axis=1, inplace=True)

In [390]:
df.drop(['ExterQual'], axis=1, inplace=True)
df.drop(['ExterCond'], axis=1, inplace=True)
df.drop(['Foundation'], axis=1, inplace=True)
df.drop(['BsmtQual'], axis=1, inplace=True)
df.drop(['BsmtCond'], axis=1, inplace=True)
#BsmtExposure
df.drop(['BsmtExposure'], axis=1, inplace=True)
df.drop(['BsmtFinType1'], axis=1, inplace=True)
df.drop(['BsmtFinSF1'], axis=1, inplace=True)
df.drop(['BsmtFinType2'], axis=1, inplace=True)
df.drop(['Heating'], axis=1, inplace=True)
df.drop(['HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'FireplaceQu',
'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'MoSold'], axis=1, inplace=True)
df.drop(['YrSold'], axis=1, inplace=True)
df.drop(['LotFrontage', 'MasVnrArea', 'Functional', 'GarageYrBlt'], axis=1, inplace=True)
df.drop(['LotShape', 'LandContour', 'Utilities'], axis=1, inplace=True)

In [391]:
df

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,...,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,SalePrice
0,1,60,8450,7,5,2003,2003,0,150,856,...,2,548,0,61,0,0,0,0,0,208500
1,2,20,9600,6,8,1976,1976,0,284,1262,...,2,460,298,0,0,0,0,0,0,181500
2,3,60,11250,7,5,2001,2002,0,434,920,...,2,608,0,42,0,0,0,0,0,223500
3,4,70,9550,7,5,1915,1970,0,540,756,...,3,642,0,35,272,0,0,0,0,140000
4,5,60,14260,8,5,2000,2000,0,490,1145,...,3,836,192,84,0,0,0,0,0,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,7917,6,5,1999,2000,0,953,953,...,2,460,0,40,0,0,0,0,0,175000
1456,1457,20,13175,6,6,1978,1988,163,589,1542,...,2,500,349,0,0,0,0,0,0,210000
1457,1458,70,9042,7,9,1941,2006,0,877,1152,...,1,252,0,60,0,0,0,0,2500,266500
1458,1459,20,9717,5,6,1950,1996,1029,0,1078,...,1,240,366,0,112,0,0,0,0,142125
1459,1460,20,9937,5,6,1965,1965,290,136,1256,...,1,276,736,68,0,0,0,0,0,147500

In [392]:
df.dtypes

Id               int64
MSSubClass       int64
LotArea          int64
OverallQual      int64
OverallCond      int64
YearBuilt        int64
YearRemodAdd     int64
BsmtFinSF2       int64
BsmtUnfSF        int64
TotalBsmtSF      int64
1stFlrSF         int64
2ndFlrSF         int64
LowQualFinSF     int64
GrLivArea        int64
BsmtFullBath     int64
BsmtHalfBath     int64
FullBath         int64
HalfBath         int64
BedroomAbvGr     int64
KitchenAbvGr     int64
TotRmsAbvGrd     int64
Fireplaces       int64
GarageCars       int64
GarageArea       int64
WoodDeckSF       int64
OpenPorchSF      int64
EnclosedPorch    int64
3SsnPorch        int64
ScreenPorch      int64
PoolArea         int64
MiscVal          int64
SalePrice        int64
dtype: object

# As seen above we only have integer values which will make it accurate for us to make our prediction


# First of all, let us split the dataset based on a 70:30 ratio. 70% of the dataset will be used for training our RandomForest model and 30% of the dataset will be used for evaluating it.

# Next, let us get the target variable (y) and the features (X) from the splitted DataFrames. Please mind that we will be removing some columns since they cannot be used for training the model.

In [393]:
from sklearn.model_selection import train_test_split
# Create target object and call it y
y = df.SalePrice
# Create X
features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
X = df[features]

# Split into validation and training data
train_X, eval_X, train_y, eval_y = train_test_split(X, y, random_state=1)

In [394]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.ensemble import RandomForestClassifier

In [395]:
model_RF = RandomForestClassifier()

In [396]:
model_RF.fit(train_X, train_y)

RandomForestClassifier()

In [397]:
predict_RF = model_RF.predict(eval_X)
predict_RF

array([192500, 184000, 130000,  92000, 155000,  84500, 255900, 144152,
       215000, 262000, 180000,  82500, 175900, 108959, 193500, 118500,
       100000, 149700, 245500, 143750, 150500, 117500, 193000, 240000,
       109500, 205000, 112000, 185000, 582933,  97000, 107500,  91500,
       112500, 109000, 145000, 386250, 115000, 119000, 229000, 105000,
       145000, 140000, 110000, 124000, 172400, 180000,  79000, 192000,
       245000, 235000, 132000, 325000, 119000, 269790, 185000, 110000,
       149900, 184100, 128900, 213000, 159000, 290000, 125000, 129500,
       174000, 119900, 153575, 240000, 150500, 157900, 197000, 129900,
       281213, 135000, 139500, 222000, 168500, 128500, 386250, 192000,
       226000, 128000, 129500, 128950, 194500, 140000, 149500, 142500,
       190000, 187000, 153337, 157000, 116050,  90000, 110500, 128000,
       120000, 154000, 118500, 142000, 205000, 129500, 127000, 120500,
       115000, 138887, 176432, 146500, 160000, 260000,  95000, 259500,
       148000, 192000, 226700, 189000, 225000, 119900, 136900, 171000,
       145000, 279500, 410000,  91500, 200000, 162500, 222000, 124000,
       162500, 186000, 274725, 124000, 115000, 105000,  86000, 191000,
       755000, 394432, 236000, 112500, 135000, 190000, 139900, 215000,
       147000, 270000, 125500, 215000, 284000, 127500, 179200, 165600,
       116500, 181000, 173000, 383970, 118400, 138500, 127000, 147000,
        68500,  85000, 179400, 135750, 143750, 131400, 177000, 174500,
       125000, 127000, 284000, 207000, 248000, 240000, 231500, 135960,
       165000, 204000, 127500, 165000,  80000, 155835, 274970, 132500,
       319000, 160000, 378500, 281213, 125000, 116500, 129500, 135000,
        89500, 130000, 127500, 290000, 227000, 135000, 133000,  52000,
       185000, 225000, 145250, 175900, 278000,  52000, 194000, 250000,
       239000, 375000, 186500, 107900, 174000, 133500, 318000, 275000,
       130000,  92900, 143000, 100000, 755000, 106500, 183900, 136900,
       104900, 127500, 173900, 190000, 173733, 176500, 105000, 173000,
       132000, 117000, 372402, 118964, 290000, 111000, 136500, 265000,
       319900, 138887, 129500, 159000, 129500, 118500, 140000, 110000,
       144000, 141000, 100000, 129500, 197000, 152000, 145000,  79000,
       173000,  84500, 318000, 118500, 193879, 243000, 208500, 181000,
        85000, 180000, 141000, 134500, 139000, 100000, 148000, 185000,
       158000, 145000, 205000, 109000, 112000, 132000, 129500, 128000,
       135000, 127000, 137500, 156000, 269500, 272000, 128000, 107900,
       255500, 127500, 130000, 275500, 133900,  95000, 203000, 194500,
       189000, 214000, 149900, 135000, 140000, 142500, 149700, 180000,
       165500, 223000, 139000, 159000, 188000, 203000, 143000, 136000,
        67000, 250000, 146000, 109500, 275000, 175000, 175500, 190000,
       207500, 165150, 124000, 225000, 123000, 424870, 140000, 197900,
       177500, 112000, 110000, 278000, 252000, 318000, 185000, 150900,
       143750, 132500, 260000, 189000, 272000, 157500,  68500, 239686,
       139000, 187500, 165000, 149350, 372402, 100000, 392000, 142500,
       326000, 149700, 140000, 244000, 197000, 176000, 107900, 281213,
       212000, 188500,  97000, 284000, 206900])

In [398]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(predict_RF, eval_y)

27310.397260273974

In [399]:
from sklearn.metrics import r2_score
r2_score(predict_RF, eval_y)

0.7426028435053117

In [400]:
from sklearn.model_selection import KFold, cross_val_score, StratifiedKFold

In [401]:
cv1 = KFold(n_splits=10, random_state=12,shuffle= True)
# evaluate the model with cross validation
scores = cross_val_score(model_RF, train_X, train_y, scoring='accuracy', cv=cv1, n_jobs=-1)
scores

array([0.01818182, 0.01818182, 0.03636364, 0.01818182, 0.01818182,
       0.00917431, 0.        , 0.00917431, 0.01834862, 0.01834862])

In [402]:
from statistics import mean, stdev
# report perofmance
print('Accuracy: %.3f(%.3f)'% (mean(scores), stdev(scores)))

Accuracy: 0.016(0.009)

In [403]:
accuracy_score(predict_RF, eval_y)

0.00821917808219178

In [404]:

# lets use Hyper parametres like Random Search to improve our RFC model
# Random Search
import numpy as np
from sklearn.model_selection import RandomizedSearchCV
random_search = {'criterion': ['entropy', 'gini'],
 'max_depth': list(np.linspace(5, 1200, 10, dtype = int)) + [None],
 'max_features': ['auto', 'sqrt','log2', None],
 'min_samples_leaf': [4, 6, 8, 12],
 'min_samples_split': [3, 7, 10, 14],
 'n_estimators': list(np.linspace(5, 1200, 3, dtype = int))}
clf = RandomForestClassifier()
model_R = RandomizedSearchCV(estimator = clf, param_distributions = random_search, 
 cv = 4, verbose= 5, random_state= 101, n_jobs = -1)
model_R.fit(train_X,train_y)
model_R.best_params_

Fitting 4 folds for each of 10 candidates, totalling 40 fits

/opt/conda/lib/python3.7/site-packages/sklearn/model_selection/_split.py:668: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  % (min_groups, self.n_splits)), UserWarning)
/opt/conda/lib/python3.7/site-packages/joblib/externals/loky/process_executor.py:691: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

{'n_estimators': 1200,
 'min_samples_split': 10,
 'min_samples_leaf': 12,
 'max_features': 'log2',
 'max_depth': 536,
 'criterion': 'entropy'}

In [405]:
predict_R = model_R.predict(eval_X)
predict_R

array([215000, 140000, 110000,  80000, 148000, 290000, 290000, 144152,
       215000, 175000, 180000, 100000, 175900, 143000, 192000, 105000,
       129000, 140000, 143000, 140000, 127500, 200000, 180000, 318000,
       110000, 185000, 112000, 192000, 582933,  88000, 145000,  88000,
       120500, 110000, 145000, 315000, 115000, 119000, 250000, 105000,
       140000, 140000, 110000, 110000, 130000, 180000, 110000, 202500,
       192000, 190000, 110000, 239000, 100000, 240000, 185000, 110000,
       128500, 168500, 140000, 194500, 165000, 290000, 110000, 129500,
       165000, 135000, 108000, 215000, 152000, 145000, 235000, 128000,
       250000, 145000, 160000, 202500, 178000, 108000, 315000, 202500,
       190000, 127000, 129500, 140000, 194500, 140000, 155000, 155000,
       190000, 185000, 190000, 157000, 128500, 143000, 109500, 128000,
       110000, 130000, 129000, 165000, 190000, 129500, 155000, 110000,
       115000, 105000, 203000, 108000, 160000, 250000, 135000, 145000,
       148000, 192000, 225000, 189000, 225000, 129000, 235000, 171000,
       140000, 239000, 250000, 135000, 200000, 175000, 147000, 115000,
       239000, 174000, 250000, 110000, 115000, 135000,  86000, 192000,
       755000, 190000, 236000, 129000, 135000, 250000, 165000, 214000,
       155000, 190000, 116000, 221000, 225000, 110000, 179200, 155000,
       110000, 192000, 173000, 250000, 100000, 145000, 116000, 112000,
       100000, 110500, 155000, 145000, 140000, 140000, 177000, 140000,
       242000, 110000, 225000, 140000, 200000, 240000, 185000, 135960,
       200000, 185000, 160000, 165000, 145000, 189000, 190000, 110000,
       260000, 160000, 315000, 290000, 155000, 110000, 129500, 135000,
       100000, 130000, 135000, 290000, 214000, 135000, 140000, 110000,
       185000, 200000, 165000, 155000, 278000, 100000, 140000, 250000,
       200000, 190000, 185000, 110000, 155000, 128500, 318000, 275000,
       110000,  92900, 143000, 100000, 755000, 110000, 155000, 190000,
       130000, 110000, 173000, 190000, 146000, 185000, 105000, 173000,
       109500, 117000, 325000, 150000, 260000, 110000, 235000, 265000,
       372402, 155000, 145000, 140000, 140000, 155000, 140000, 110000,
       140000, 145000, 129000, 129500, 173000, 152000, 150000,  79000,
       152000, 110000, 318000, 129000, 192000, 190000, 188000, 180000,
        85000, 180000, 115000, 140000, 145000, 100000, 152000, 185000,
       116000, 145000, 190000, 145000, 155000, 110000, 140000, 140000,
       160000, 135000, 145000, 145000, 219500, 221000, 128000, 129000,
       239000, 145000, 110000, 225000, 136000, 160000, 192000, 190000,
       130000, 225000, 145000, 135000, 140000, 155000, 140000, 180000,
       140000, 180000, 145000, 140000, 150000, 185000, 140000, 185000,
       105000, 260000, 155000, 109500, 275000, 175000, 187500, 190000,
       173000, 201800, 140000, 225000, 140000, 446261, 140000, 215000,
       155000, 112000, 110000, 180000, 225000, 318000, 185000, 244000,
       140000, 145000, 260000, 189000, 175000, 302000, 109500, 239686,
       109500, 152000, 165000, 140000, 372402, 100000, 130000, 155000,
       315000, 140000, 140000, 244000, 130000, 148000, 129000, 250000,
       212000, 173000, 155000, 290000, 140000])

In [406]:
r2_score(predict_R, eval_y)

0.6569676152216398

In [407]:
accuracy_score(predict_R, eval_y)

0.0

# So we can here see that the random Forest model is trained well as represented by the accuracy score and r_2 score but the cross validation score proves that it still needsmore training and ETL processing before being check on other enviroments as indicated by the cross val score

# We now make predictions with the test data

In [408]:
# path to file you will use for predictions
test_data_path = '/kaggle/input/house-prices-advanced-regression-techniques/test.csv'

# read test data file using pandas
test_data = pd.read_csv(test_data_path)
test_data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [409]:
test_data.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
Length: 80, dtype: object

In [413]:
# create test_X which comes from test_data but includes only the columns you used for prediction.
# The list of columns is stored in a variable called features
test_X = test_data[features]

# make predictions which we will submit. 
test_preds = model_R.predict(test_X)

# The lines below shows how to save predictions in format used for competition scoring
output = pd.DataFrame({'Id': test_data.Id,
                      'SalePrice': test_preds})
output.to_csv('submission.csv', index=False)